/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, rgb(0, 0, 0), rgb(43, 45, 43));
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

header {
  background-color: #ff004f;
  backdrop-filter: blur(5px); 
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #757171;
  color: #fff; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}
*/
/* .upload-section {
  margin-bottom: 20px;
  position: relative;
}

.custom-file-upload, button {
  color: #fff;
  background-color: #6a82ff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover, button:hover {
  background-color: #4d66ff;
}

input[type="file"] {
  display: none;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

#imageContainer {
  margin-top: 20px;
} */

body{
  padding-top: 120px;
  background: #080808;
  color: #fff;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.logout a{
  color: #fff;
  text-decoration: none;
}

.logout a:hover{
  color: #ffef12;
}

#services{
  padding: 30px 0;
  flex-grow: 1;
}

.container {
  text-align: center;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffef12;
  text-align: center;
  padding-top: 150px;
  width: 100%;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  color: #fff;
}

.services-list div:hover {
  background: #ffef12;
  transform: translateY(-10px);
  color: #000;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  transition: color 0.3s;
}

.services-list div:hover a {
  color: #000;
}
